html, body {
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 0;
  font-size: 2.4em;
  font-weight: normal;
  display: inline-block;
}

h2 {
  font-size: 30px;
}

body {
  font-family: "Futura", Open Sans,  sans-serif;
  padding: 10px 10%;
}

button {
  background-color: #5DD3FB;
  color: #FFF;
  border: 10px;
  padding: 20px 15px;
  font-size: 30px;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  margin-left: 18px;
  text-align: center;
  transition: opacity .4s ease-out, transform .4s ease-out, visibility .4s ease-out;
  position: relative;
  top: -10px;
}

button:hover {
  background-color: #73E6FB;
}

button:active {
  background-color: #66E0FB;
  box-shadow: none;
  position: relative;
  top: -8px;
  left: 2px;
}

p {
  padding: 2px 0 2px 8px;
  font-size: 14px;
  line-height: 2;
  list-style: none;
  margin: 0;
}